<div [hidden]="!toggleDetails">
<mean-post-form></mean-post-form>
</div>


<div [hidden]="toggleDetails">
<h1>{{selectedPost?.title}}</h1>
<p>{{selectedPost?.content}}</p>
    <p>-<strong>{{selectedPost?.username}}</strong></p>
<a *ngIf="selectedPost && belongsToUser()" (click)="onEdit(); toggleDetails=!toggleDetails" class="btn btn-primary btn-sm">Edit</a>
<a *ngIf="selectedPost && belongsToUser()" (click)="onDelete()" class="btn btn-danger btn-sm">Delete</a>
</div>
<div>
    <mean-comments></mean-comments>
</div>