<div class="col-md-4 col-md-offset-4">
    <h1 class="text-center" >Create an Account</h1>
<form class="form-horizontal" [formGroup]="myForm" (ngSubmit)="onSubmit()" >

    <fieldset>

        <div id="new-parent-username-input" class="control-group">
            <!-- Username -->

            <div class="controls">
                <input type="text" id="username" placeholder="Username" class="input-xlarge form-control" formControlName="username" autofocus ="" required>
            </div>
        </div>



        <div id="new-parent-email-input" class="control-group">
            <!-- Email -->

            <div class="controls">
                <input type="text" id="email" placeholder="Email" class="input-xlarge form-control" formControlName="email"  autofocus ="" required>
            </div>
        </div>


        <div id="new-parent-password-input" class="control-group">
            <!-- Password-->

            <div class="controls">
                <input type="password" id="password" placeholder="Password" class="input-xlarge form-control" formControlName="password"  autofocus ="" required>
            </div>
        </div>

        <br>
        <div id="new-parent-submit" class="control-group">
            <!-- Button -->
            <div class="controls">
                <button [disabled]="!myForm.valid" id="home-button" class="btn btn-lg btn-primary btn-block"><span class="home-text">Register</span></button>
            </div>
        </div>
    </fieldset>
</form>
    </div>